*{
    font-family: "Hanken Grotesk", sans-serif;
}
.container{
    display:flex;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    height: 50%;
    margin-top:5%;
    margin-bottom: 20px;
    align-items: stretch;
}
.result{
    
    height:100%;
    color:white;
    text-align:center;
    max-width:300px;
    border-radius:30px;
    background-color: #352FEB;

}
.about{
    padding:0px 35px;
}
.summary{
    background-color: #FFFFFF;
    height:100%;
}
button{
    background-color: #303B59;
    color:white;
    padding:10px 30px;
    border-radius:30px;
    border: none;
    margin-top:15px;
}
.score{
    border-radius:50%;
    background:linear-gradient(to bottom,#4634EE,#4A24CF);
    /* background-color: #4925CF; */
    height:200px;
    width:200px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    margin-top:15%;
    margin-left:17%;
}
.score h1{
    font-size:3rem;
    margin-bottom: 0px;
}
.summary{
    display:flex;
    flex-direction:column;
    width:20%;
    height: 100%;
    padding:30px;
}
.summary h3{
    margin-left:0px;
}
.summary>div{
    display: flex;
    align-items: center;
    text-align:center;
    justify-content: space-between;
    margin-left:10px;
    padding:0px 5px;
    
    
}
.reaction{
    background-color: #FFF6F5;
}

.memory{
    background-color: #FFFBF2;
}
.verbal{
    background-color: #F2FBFA;
}
.visual{
    background-color: #F3F3FD;
}

.summary>img{
    margin-right:5px;
}